.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie_poster {
    max-width: 25vw;
}