<nav class="alert alert-info container">
    <h1>Movies Out in Theater</h1>
    <button type="button" class="btn btn-warning">My Favorites</button>
    <div class="dropdown"> 
        <button (click)="dropdown()" type="button" class="dropdown dropButton btn btn-primary">Criteria</button>
        <div class="dropdown-content">
            <p>Vote Average</p>
            <p>Language</p>
            <p>Popularity</p>
        </div>
    </div>
</nav>
<app-search-criteria></app-search-criteria>

<app-movie-list></app-movie-list>