<nav class="alert alert-info container">
    <h1>Movies Out in Theater</h1>
    <button type="button" class="btn btn-warning">My Favorites</button>
    <div class="dropdown"> 
        <button (click)="dropdown()" type="button" class="dropdown dropButton btn btn-primary">Criteria</button>
        <div class="dropdown-content dropdown-menu">
          <p class="dropdown-item">Vote Average</p>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              0-5
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              6-10
            </label>
          </div>
         
          <p class="dropdown-item">Language</p>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="language-english">
              English
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="service.isGerman">
              German
            </label>
          </div>

          <p class="dropdown-item">Popularity</p>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              10-35
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              40-65
            </label>
          </div>

          <button (click)="fetchMovies()"> Submit </button>
        </div>
    </div>
</nav>
<app-search-criteria></app-search-criteria>

<app-movie-list></app-movie-list>