
@import url(https://bootswatch.com/4/solar/bootstrap.min.css);

.container{
    display: flex;
}

.btn-warning{
    border-radius: 5px;
    margin-left: auto;
    margin-right: 40px;
}

.btn-primary{
    border-radius: 5px;
    margin-right: 35px;
    padding: 15px;
}

.search{
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }
